.AdminButton a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #fc6565;
}

.AdminButton{
    position: absolute;
    top: 11px;
    left: calc(50vw - 150px);
    width: 210px;

}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
header nav .navButtons, header nav .LoginRegister{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .navButtons .ButtonComponent, header nav .LoginRegister .ButtonComponent{
    margin: 0 25px;
}


header hr{
    border-color: #0691AE;
}

.LoginRegister h2{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: aliceblue;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1620px;
    }
}